# begin https://github.com/github/gitignore/blob/master/Autotools.gitignore
# http://www.gnu.org/software/automake

Makefile.in
config.h.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
# end https://github.com/github/gitignore/blob/master/Autotools.gitignore
